<h3 align="center" style="color:purple;margin-top:25px">Advance Java Course</h3>

<table border="0" class="cd_syllabus_solid" cellspacing="0" style="margin-bottom:20px;background-color: white">
    <tr>
        <td style="width:40%">
            <p style="margin-top:10px;"><h5 align="left" style="color:purple;">Next Batch Start Date</h5> - 16th May
            2015</p>
            <p style="margin-top:10px;"><h5 align="left" style="color:purple;">For Bookings Call </h5> -
            {{call}}</p>
            <p style="margin-top:10px;"><h5 align="left" style="color:purple;">EMail: </h5> - {{email}}</p>
        </td>
        <td style="width:60%">
            <p style="margin-top:20px;"><h4 style="color:purple;"><strike>Rs. 20,999/-</strike> Rs. 6,999/- (66% Off)
        </h4>
            <h5 style="color:purple;"><strike>Rs. 17,999/-</strike> Rs. 5,999/- (66% Off) <h6><sub>Excluding Core
                Java</sub></h6></h5>
            <br><br>


           {{launchOffer}}<br>

        </td>
    </tr>
</table>


<br>
<h5 align="left" style="color:purple;">Objectives</h5>

<p>At the end of Advanced Java training course, the participant will be able to:</p>
<ul>

    <li>Understanding of Web applications and HTTP protocol</li>
    <li>Create enterprise level Java applications</li>
    <li>Use tools to solve software development challenges</li>
</ul>

<p style="margin-top:20px;"><h5 align="left" style="color:purple;">Target
    Audience</h5> - Undergraduates, Graduates, Post-Graduates & Job aspirants</p>
<p><h5 align="left" style="color:purple;">Duration</h5> - 160 Hours</p>
<h5 align="left" style="color:purple;">Prerequisites </h5>
<p><b>Must to Have</b></p>
<ul>
    <li><a href="#/java">Core Java Concepts</a></li>
</ul>
<p><b>Good to Have</b></p>
<ul>
    <li>HTML, CSS & HTTP Concepts</li>
</ul>

<h5 align="left" style="color:purple;">Course Contents</h5>


<table border="0" class="cd_syllabus" cellspacing="0">
    <tr>
        <td>
            <b>1. Collections Advanced </b>


            <ul>
                <li>CRUD in ArrayList, Vector</li>
                <li>Sorting in ArrayList</li>
                <li>Comparator & Comparable</li>
                <li>Set</li>
                <ul>
                    <li>HashSet</li>
                    <li>LinkedHashSet</li>
                    <li>TreeSet</li>
                </ul>
                <li>Equals & hashCode override</li>
                <li>Sorting in TreeSet</li>
                <li>Map</li>
                <ul>
                    <li>HashTable</li>
                    <li>HashMap</li>
                    <li>LinkedHashMap</li>
                    <li>TreeMap</li>
                </ul>
                <li>I18N</li>
                <li>Nested Map with Set, List</li>
                <li>Generics</li>
                <li>WildCards</li>
                <li>Template</li>
                <li>Java5 vs Java7</li>
                <li>Date, Calender, Number Format, Locale</li>
                <li>Synchronized Collection, Concurrent Collection, Navigable</li>


            </ul>
        </td>
        <td>
            <b>2. Basic HTML </b>
            <ul>
                <li>Introduction
                    <!--<ul>
                        <li>Editors</li>
                        <li>HTML documents</li>
                        <li>The head element</li>
                        <li>The title element</li>
                        <li>The body element</li>
                    </ul>-->

                <li>HTML Text
                    <!--<ul>
                        <li>Headings</li>
                        <li>Comment</li>
                        <li>Paragraphs</li>
                        <li>Line Breaks & Rules</li>
                        <li>Whitespace</li>
                        <li>Bold text</li>
                        <li>Italic text</li>
                        <li>Special Characters</li>
                    </ul>-->
                </li>

                <li>Block vs. Inline Elements</li>

                <li>Font tags & styles</li>

                <li>HTML List
                    <!--<ul>
                        <li>Unordered List</li>
                        <li>Ordered List</li>
                    </ul>-->
                </li>

                <li>Hyperlinks
                   <!-- <ul>
                        <li>Link concepts</li>
                        <li>Understanding Targets</li>
                        <li>Mail</li>
                        <li>Additional Link Attributes</li>
                    </ul>-->
                </li>

                <li>HTML Images
                    <!--<ul>
                        <li>Image tag</li>
                        <li>object tag</li>
                        <li>Additional image Attributes</li>
                    </ul>-->
                </li>

                <li>HTML Tables
                    <!--<ul>
                        <li>Table element</li>
                        <li>Table Data</li>
                        <li>Headings in a Table</li>
                        <li>Border</li>
                        <li>Empty Cells in a Table</li>
                        <li>Declaring width & height</li>
                        <li>Cellspacing</li>
                        <li>Cellpadding</li>
                        <li>Bgcolor</li>
                        <li>Colspan</li>
                        <li>Nesting</li>
                    </ul>-->
                </li>

                <li>Forms
                    <!--<ul>
                        <li>Text Fields</li>
                        <li>Label element</li>
                        <li>Radio Buttons</li>
                        <li>Checkboxes</li>
                        <li>Textarea</li>
                        <li>Buttons</li>
                        <li>Dropdown list</li>
                    </ul>-->
                </li>

                <li>Layout
                   <!-- <ul>
                        <li>Using table</li>
                        <li>Using div</li>
                    </ul>-->
                </li>

                <li>Others
                    <!--<ul>
                        <li>iframe</li>
                        <li>tooltip</li>
                        <li>meta tag</li>
                        <li>span</li>
                        <li>child selectors / pseudo selectors</li>
                    </ul>-->
                </li>

                <li>Complete webpage</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <b>3. Servlet </b>
            <ul>
                <li>Servlet Introduction
                    <ul>
                        <li>What is Servlet</li>
                        <li>Servlet Execution Flow</li>
                        <li>Servlet vs CGI</li>
                        <li>Advantages of Servlet</li>
                        <li>Servlet API</li>
                        <li>Life Cycle of Servlet</li>
                        <li>Creating First Servlet</li>
                        <li>Create Web-Application Structure</li>
                        <li>Writing Servlet Source Code</li>
                        <li>Compile Servlet File</li>
                        <li>Writing web.xml (Deployment Descriptor)</li>
                        <li>Deploying your Web-Application</li>
                        <li>Test Servlet on Web-Browser
                    </ul>
                </li>
            </ul>

            <ul>
                <li>HttpServletRequest and HttpServletResponse
                    <ul>
                        <li>HttpServletRequest</li>
                        <li>HttpServletResponse</li>
                        <li>Working on HttpServletRequest and HttpServletResponse</li>
                        <li>ServletConfig and ServletContext
                    </ul>
                </li>
            </ul>


            <ul>
                <li>Maintains Session
                    <ul>
                        <li>Session Introduction</li>
                        <li>Session API</li>
                        <li>URL-rewritting</li>
                        <li>Cookies</li>
                        <li>Hidden Fields
                    </ul>
                </li>
            </ul>

            <ul>
                <li>Inter-Servlet Communication
                    <ul>
                        <li>Introduction</li>
                        <li>Forward</li>
                        <li>include
                    </ul>
                </li>
            </ul>

            <ul>
                <li>Filter</li>
                <li>Listener</li>
                <li>Servlet- JDBC</li>
            </ul>

        </td>
        <td>
            <b>4. JSP </b>
            <ul>
                <li>Introduction to JSP</li>
                <li>JSP Comments</li>
                <li>JSP directives</li>
                <li>JSP Scripting element</li>
                <li>JSP Actions</li>
                <li>MVC Example</li>
                <li>EL and JSTL</li>
                <li>Custom Tag</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td rowspan="2">
            <b>5. Enterprise Java Bean (EJB) </b>
            <ul>
                <li>What Is EJB</li>
                <li>Why EJB</li>
                <li>Application Container</li>
                <li>Component-Based Development</li>
                <li>Setup</li>
                <li>Understanding First EJB Program</li>
                <li>Understanding Container and Deployment</li>
                <li>EJB2 vs EJB3</li>
                <li>Types of Beans
                    <ul>
                        <li>Session Beans</li>
                        <li>Message Driven Beans</li>
                        <li>Entity Beans</li>
                    </ul></li>
                <li>Session Beans Types
                    <ul>
                        <li>Stateful Session Beans</li>
                        <li>Stateless Session Beans</li>
                        <li>Singleton Session Beans</li>
                    </ul></li>
                <li>Message Driven Beans
                    <ul>
                        <li>First MDB</li>
                        <li>Setting Up Queues</li>
                        <li>Java Messaging Service (JMS)</li>
                    </ul></li>
                <li>Access Modes
                    <ul>
                        <li>Local</li>
                        <li>Remote</li>
                        <li>Web Service</li>
                        <li>Asynchronous Calling</li>
                    </ul></li>
                <li>New Features of EJB 3.x
                <ul>
                <li>Timers</li>
                <li>Interceptors</li>
                <li>Dependency Injection</li>
                <li>Asynchronous Calling</li>
            </ul></li>
                <li>Transaction Management
                    <ul>
                        <li>Bean Managed Transactions</li>
                        <li>Contrainer Mangaged Transactions</li>
                        <li>Transaction Attributes</li>
                        <li>Local vs Global Transactions</li>
                        <li>Java Transaction API</li>
                    </ul></li>
            </ul>
        </td>
        <td>
            <b>6. Java Persistence API (JPA) </b>
            <ul>
                <li>JPA annotations</li>
                <li>Persistence lifecycle</li>
                <li>Lifecycle Listeners</li>
                <li>Setting up all types of relationships</li>
                <li>Overview of working with compound keys</li>
                <li>Setting up an simple inheritance relationship</li>
                <li>Mapping collections of value types</li>
                <li>Inheritance Strategies (Three ways to map inheritance)</li>
                <li>Advanced Queries</li>
                <li>Working with the Query API</li>
                <li>Using Hibernate Transaction support</li>
                <li>Local transactions, global transaction</li>
                <li>Hibernate transaction API</li>
                <li>Isolation levels</li>
                <li>Using advanced query support</li>
                <li>Using native SQL query support</li>
                <li>Overview of Hibernate Caching Architecture</li>
                <li>Hibernate API to control cache</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <b>7. Project</b>
            <ul>
                <li>Project based on N-Tier Structure</li>
                <li>End to end integrated with Database</li>
                <li>Real Life Scenarios</li>
                <li>Good Coding Practices</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <b>8. Software Development Tools </b>
            <ul>
                <li>Logging - Log4j</li>
                <li>Build and Deploy - Ant & Maven</li>
                <li>Source Code Control- SVN</li>
                <li>Code cleanliness - Sonar</li>
                <li>Unit Testing - JUnit</li>
                <li>Reporting - PDF Generator </li>
                <li>Load Testing - JMeter</li>
                <li>Mocking - JMockit</li>
                <li>Email & SMS  </li>
            </ul>
        </td>
        <td>
            <b>9. Project with Tools</b>
            <ul>
                <li>Simulation of actual work environment</li>
                <li>Software Development Challenges</li>
                <li>Lifecycle of Project</li>
                <li>Agile Methodologies</li>
                <li>Troubleshooting in Production Environments</li>
                <li>Automated Builds</li>
            </ul>
        </td>
    </tr>


</table>