<h3 align="center" style="color:purple;margin-top:25px">Java Course</h3>

<table border="0" class="cd_syllabus_solid" cellspacing="0" style="margin-bottom:20px;background-color: white">
    <tr>
        <td style="width:40%">
            <p style="margin-top:10px;"><h5 align="left" style="color:purple;">Next Batch Start Date</h5> - 16th May
            2015</p>
            <p style="margin-top:10px;"><h5 align="left" style="color:purple;">For Bookings Call </h5> -
            {{call}}</p>
            <p style="margin-top:10px;"><h5 align="left" style="color:purple;">EMail: </h5> - {{email}}</p>
        </td>
        <td style="width:60%">
            <p style="margin-top:20px;"><h4 style="color:purple;"><strike>Rs. 11,999/-</strike> Rs. 2,999/- (75% Off)
        </h4>{{launchOffer}}</p>
        </td>
    </tr>
</table>


<br>
<h5 align="left" style="color:purple;">Objectives</h5>

<p>At the end of Core Java training course, the participant will be able to:</p>
<ul>
    <li>Fundamentals of Java programming language</li>
    <li>Understanding of OOPs concept</li>
    <li>Create standalone platform-independent Java applications</li>
</ul>

<p style="margin-top:20px;"><h5 align="left" style="color:purple;">Target
    Audience</h5> - Undergraduates, Graduates, Post-Graduates & Job aspirants</p>
<p><h5 align="left" style="color:purple;">Duration</h5> - 80 Hours</p>
<h5 align="left" style="color:purple;">Prerequisites </h5>
<p><b>Good to Have</b></p>
<ul>
    <li>Knowledge of Object-oriented programming would be an advantage</li>
</ul>

<h5 align="left" style="color:purple;">Course Contents</h5>


<table border="0" class="cd_syllabus" cellspacing="0">
    <tr>
        <td>
            <b>1. Basics </b>


            <ul>
                <li>Why Java</li>
                <li>Introduction to Java</li>
                <li>Platform independent</li>
                <li>Java vs DotNet vs PHP</li>
                <li>JDK, JRE, JVM</li>
                <li>JVM Security Model</li>
                <li>Download & Install</li>
                <li>First Program in Java</li>
                <li>Defining and Using Classes
                </li>
                <li>What is ‘Main’ in java?
                </li>
                <li>Keywords, data types, Literals and variables
                </li>
                <li>Equals vs ‘==’
                </li>
                <li>Conditional statements
        <ul><li>if-else</li><li>switch</li></ul>
                </li>
                <li>Loops
                    <ul><li>While</li><li>Do-While</li><li>For</li><li>Enhanced-For</li></ul>
                </li>


            </ul>
        </td>
        <td>
            <b>2. OOPS concepts </b>
            <ul>
                <li>OOPS Story</li>
                <li>Procedural programming vs OOPS</li>
                <li>Class vs Object</li>
                <li>Code Example of Class & Object</li>
                <li>Memory Layout of Class & Object</li>
                <li>Instance Variable & Instance Method</li>
                <li>Use of this</li>
                <li>Constructor & Constructor chaining within Class</li>
                <li>Init Block Vs Constructor</li>
                <li>Java Bean & Use</li>
                <li>Destructor in Java</li>
                <li>How Garbage Collection works in Java</li>
                <li>IS-A & HAS-A</li>
                <li>Generalization Vs Specialization</li>
                <li>Aggregation Vs Composition</li>
                <li>Constructor chaining in Inheritance</li>
                <li>Polymorphism in Inheritance</li>
                <li>Overloading Vs Overriding</li>
                <li>Overloading Rules</li>
                <li>Overloading with Widening & Wrapper types</li>
                <li>Abstract Class</li>
                <li>Adapter Class</li>
                <li>Interface</li>
                <li>Multiple Inheritance in Interface</li>
                <li>Abstract class Vs Interface</li>
                <li>Interface Rules (Java 8), (default, SAM)</li>
                <li>OOPs</li>
                <li>Example of UI, BL, DB, pass by reference</li>
                <li>Static variable, Static Block, Static Method</li>
                <li>Utility Class</li>
                <li>Overriding in Static</li>
                <li>Interface with Static (Java 8)</li>
                <li>JVM - Memory Architecture</li>
                <li>Jconsole, JPS</li>
                </ul>
        </td>
    </tr>
    <tr>
        <td>
            <b>3. String </b>
            <ul>
            <li>Mutable and Immutable</li>
            <li>Memory Layout</li>
            <li>String Methods</li>
            <li>GarbageCollection</li>
            <li>String vs StringBuffer vs StringBuilder</li>
            <li>Regular Expression</li>
            </ul>
        </td>
        <td>
            <b>4. Exception handling  </b>
            <ul>
            <li>Exception intro</li>
            <li>Exception Hierarchy</li>
            <li>Exception Handling tools</li>
            <li>Examples</li>
            <li>Checked vs Unchecked</li>
            <li>throw vs throws</li>
            <li>final vs finally vs finalize</li>
            <li>Overriden exception handling</li>
            <li>Java 7 features of exception handling</li>
            <li>Custom exception</li>
            <li>Be specific, throw early & catch later rule</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td rowspan="2">
            <b>5. Collection Framework </b>
            <ul>
            <li>Collection intro</li>
            <li>Collection hierarchy</li>
            <li>List</li>
            <ul><li>ArrayList</li>
                <li>Vector</li>
                <li>LinkedList</li></ul>
            <li>Why override equals</li>
            <li>Why override toString</li>
            <li>CRUD in ArrayList, Vector</li>
            <li>Sorting in ArrayList</li>
            <li>Comparator & Comparable</li>
            <li>Set</li>
            <ul><li>HashSet</li>
                <li>LinkedHashSet</li>
                <li>TreeSet</li></ul>
            <li>Equals & hashCode override</li>
            <li>Sorting in TreeSet</li>
            <li>Map</li>
            <ul><li>HashTable</li>
                <li>HashMap</li>
                <li>LinkedHashMap</li>
                <li>TreeMap</li></ul>
            <li>I18N</li>
            </ul>
        </td>
        <td>
            <b>6. Packages and Wrapper Classes </b>
            <ul>
                <li>Organizing Classes and interfaces in Packages</li>
                <li>Package as Access Protection</li>
                <li>Defining Package</li>
                <li>CLASSPATH Setting for Packages</li>
                <li>Import and Static Import</li>
                <li>Naming Convention for packages</li>
                <li>What is Wrapper Class</li>
                <li>Why Wrapper</li>
                <li>How to handle wrapper Classes</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <b>7. Networking</b>
            <ul>
            <li>Why Networking</li>
            <li>Requirements </li>
            <li>Client/Server application</li>
            <li>DP and TCP/IP protocol</li></ul>
        </td>
    </tr>
    <tr>
        <td>
            <b>8. Thread </b>
            <ul>
                <li>Understanding Threads</li>
                <li>Needs of Multi-Threaded Programming</li>
                <li>Thread Life-cycle</li>
                <li>Thread Priorities</li>
                <li>Synchronizing Threads</li>
                <li>Inter communication of Threads</li>
                <li>Critical Factor in thread Deadlock</li>
            </ul>
        </td>

        <td>
            <b>9. Database </b>
            <ul>
            <li>Understanding Basic Database Design Concepts</li>
            <li>Creating Databases, Tables, and Indexes</li>
            <li>Inserting, Deleting, and Updating Data</li>
            <li>Querying MySQL</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <b>10. JDBC Fundamentals </b>
            <ul>
            <li>Introduction to JDBC </li>
            <li>JDBC 4 Feature</li>
            <li>JDBC driver types </li>
            <li>Loading a driver </li>
            <li>Connecting to a database </li>
            <li>Connection management enhancements</li>
            <li>SQL exception handling enhancements</li>
            <li>DataSet implementation of SQL using Annotations</li>
            <li>Overview of JDBC architecture </li>
            <li>Commit</li>
            ?	Simple JDBC program</li>
            <li>Communicating with the database  </li>
            <li>CallableStatement </li>
            <li>Updatable ResultSet</li>
            <li>Batch Updates</li>
            </ul>
        </td>
    </tr>

</table>