<h3 align="center" style="color:purple;margin-top:25px">Oracle Certified Java Developer(OCJP) Course</h3>

<table border="0" class="cd_syllabus_solid" cellspacing="0" style="margin-bottom:20px;background-color: white">
    <tr>
        <td style="width:40%">
            <p style="margin-top:10px;"><h5 align="left" style="color:purple;">Next Batch Start Date</h5> - 16th June
            2015</p>
            <p style="margin-top:10px;"><h5 align="left" style="color:purple;">For Bookings Call </h5> -
            {{call}}</p>
            <p style="margin-top:10px;"><h5 align="left" style="color:purple;">EMail: </h5> - {{email}}</p>
        </td>
        <td style="width:60%">
            <p style="margin-top:20px;"><h4 style="color:purple;"> Rs. 4,999/- </h4>
            *OFFER!! Get Cashback of Rs. 1000/- on successful completion
            {{launchOffer}}</p>

        </td>
    </tr>
</table>


<br>
<h5 align="left" style="color:purple;">Objectives</h5>

<p>At the end of OCJP training course, the participant will be able to:</p>
<ul>
    <li>Pass OCJP exam</li>
    <li>Highlight OCJP in Resume</li>
    <li>Have In-depth knowledge of Java</li>
</ul>

<p style="margin-top:20px;"><h5 align="left" style="color:purple;">Target
    Audience</h5> - Undergraduates, Graduates, Post-Graduates & Job aspirants</p>
<p><h5 align="left" style="color:purple;">Duration</h5> - 80 Hours</p>
<h5 align="left" style="color:purple;">Prerequisites </h5>
<p><b>Must to Have</b></p>
<ul>
    <li><a href="#/java">Core Java Concepts</a></li>
</ul>
<p><b>Good to Have</b></p>
<ul>
    <li>Knowledge of Object-oriented programming would be an advantage</li>
</ul>

<h5 align="left" style="color:purple;">Course Contents</h5>


<table border="0" class="cd_syllabus" cellspacing="0">
    <tr>
        <td>
            <strong>1. Java Class Design&nbsp;</strong>
            <ul>
                <li>
                    Use access modifiers: private, protected, and public</li>
                <li>
                    Override methods&nbsp;</li>
                <li>
                    Overload constructors and methods&nbsp;</li>
                <li>
                    Use the instanceof operator and casting</li>
                <li>
                    Use virtual method invocation</li>
                <li>
                    Override the hashCode, equals, and toString methods from the Object class to improve the functionality of your class.&nbsp;</li>
                <li>
                    Use package and import statements</li>
            </ul>


            </ul>
        </td>
        <td>
            <strong>2. Advanced Class Design&nbsp;</strong>
            <ul>
                <li>
                    Identify when and how to apply abstract classes</li>
                <li>
                    Construct abstract Java classes and subclasses</li>
                <li>
                    Use the static and final keywords</li>
                <li>
                    Create top-level and nested classes</li>
                <li>
                    Use enumerated types</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <strong>3. Object-Oriented Design Principles&nbsp;</strong>
            <ul>
                <li>
                    Write code that declares, implements and/or extends interfaces</li>
                <li>
                    Choose between interface inheritance and class inheritance</li>
                <li>
                    Apply cohesion, low-coupling, IS-A, and HAS-A principles</li>
                <li>
                    Apply object composition principles (including has-a relationships)</li>
                <li>
                    Design a class using a Singleton design pattern</li>
                <li>
                    Write code to implement the Data Access Object (DAO) pattern</li>
                <li>
                    Design and create objects using a factory pattern</li>
            </ul>
        </td>
        <td>
            <strong>4. Generics and Collections</strong>
            <ul>
                <li>
                    Create a generic class</li>
                <li>
                    Use the diamond for type inference &nbsp;</li>
                <li>
                    Analyze the interoperability of collections that use raw types and generic types&nbsp;</li>
                <li>
                    Use wrapper classes, autoboxing and unboxing</li>
                <li>
                    Create and use List, Set and Deque implementations</li>
                <li>
                    Create and use Map implementations</li>
                <li>
                    Use java.util.Comparator and java.lang.Comparable</li>
                <li>
                    Sort and search arrays and lists</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td >
            <strong>5. String Processing&nbsp;</strong>
            <ul>
                <li>
                    Search, parse and build strings (including Scanner, StringTokenizer, StringBuilder, String and Formatter)</li>
                <li>
                    Search, parse, and replace strings by using regular expressions, using expression patterns for matching limited to: . (dot), * (star), + (plus), ?, \d, \D, \s, \S, &nbsp;\w, \W, \b. \B, [], ().</li>
                <li>
                    Format strings using the formatting parameters: %b, %c, %d, %f, and %s in format strings.</li>
            </ul>
        </td>
        <td>
            <strong>6. Exceptions and Assertions&nbsp;</strong>
            <ul>
                <li>
                    Use throw and throws statements&nbsp;</li>
                <li>
                    Develop code that handles multiple Exception types in a single catch block</li>
                <li>
                    Develop code that uses try-with-resources statements (including using classes that implement the AutoCloseable interface)</li>
                <li>
                    Create custom exceptions</li>
                <li>
                    Test invariants by using assertions</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <strong>7. Java I/O Fundamentals&nbsp;</strong>
            <ul>
                <li>
                    Read and write data from the console</li>
                <li>
                    Use streams to read from and write to files by using classes in the java.io package including BufferedReader, BufferedWriter, File, FileReader, FileWriter, DataInputStream, DataOutputStream, ObjectOutputStream, ObjectInputStream, and PrintWriter</li>
            </ul>
        </td>
        <td>
            <strong>8. Java File I/O (NIO.2)&nbsp;</strong>
            <ul>
                <li>
                    Operate on file and directory paths with the Path class&nbsp;</li>
                <li>
                    Check, delete, copy, or move a file or directory with the Files class &nbsp;</li>
                <li>
                    Read and change file and directory attributes, focusing on the BasicFileAttributes, DosFileAttributes, and PosixFileAttributes interfaces</li>
                <li>
                    Recursively access a directory tree using the DirectoryStream and FileVisitor interfaces</li>
                <li>
                    Find a file with the PathMatcher interface</li>
                <li>
                    Watch a directory for changes with the WatchService interface</li>
            </ul>
        </td>
</tr><tr>
        <td>
            <strong>9. Building Database Applications with JDBC&nbsp;</strong>
            <ul>
                <li>
                    Describe the interfaces that make up the core of the JDBC API (including the Driver, Connection, Statement, and ResultSet interfaces and their relationship to provider implementations)</li>
                <li>
                    Identify the components required to connect to a database using the DriverManager class (including the jdbc URL)</li>
                <li>
                    Submit queries and read results from the database (including creating statements, returning result sets, iterating through the results, and properly closing result sets, statements, and connections)</li>
                <li>
                    Use JDBC transactions (including disabling auto-commit mode, committing and rolling back transactions, and setting and rolling back to savepoints)</li>
                <li>
                    Construct and use RowSet objects using the RowSetProvider class and the RowSetFactory interface</li>
                <li>
                    Create and use PreparedStatement and CallableStatement objects</li>
            </ul>
        </td>
    <td>
        <strong>10. Threads&nbsp;</strong>
        <ul>
            <li>
                Create and use the Thread class and the Runnable interface</li>
            <li>
                Manage and control thread lifecycle</li>
            <li>
                Synchronize thread access to shared data</li>
            <li>
                Identify code that may not execute correctly in a multi-threaded environment.</li>
        </ul>
    </td>
    </tr>
    <tr>
        <td>
            <strong>11. Concurrency&nbsp;</strong>
            <ul>
                <li>
                    Use collections from the java.util.concurrent package with a focus on the advantages over and differences from the traditional java.util collections.</li>
                <li>
                    Use Lock, ReadWriteLock, and ReentrantLock classes in the java.util.concurrent.locks package to support lock-free thread-safe programming on single variables.</li>
                <li>
                    Use Executor, ExecutorService, Executors, Callable, and Future to execute tasks using thread pools.</li>
                <li>
                    Use the parallel Fork/Join Framework</li>
            </ul>
        </td>
        <td>
            <strong>12. Localization&nbsp;</strong>
            <ul>
                <li>
                    Read and set the locale by using the Locale object</li>
                <li>
                    Build a resource bundle for each locale</li>
                <li>
                    Call a resource bundle from an application</li>
                <li>
                    Format dates, numbers, and currency values for localization with the NumberFormat and DateFormat classes (including number format patterns)</li>
                <li>
                    Describe the advantages of localizing an application</li>
                <li>
                    Define a locale using language and country codes</li>
            </ul>
        </td>
    </tr>

</table>