<h3 align="center" style="color:purple;margin-top:25px">HTML5,CSS3 & JavaScript Course</h3>

<table border="0" class="cd_syllabus_solid" cellspacing="0" style="margin-bottom:20px;background-color: white">
    <tr>
        <td style="width:40%">
            <p style="margin-top:10px;"><h5 align="left" style="color:purple;">Next Batch Start Date</h5> - 16th May
            2015</p>
            <p style="margin-top:10px;"><h5 align="left" style="color:purple;">For Bookings Call </h5> -
            {{call}}</p>
            <p style="margin-top:10px;"><h5 align="left" style="color:purple;">EMail: </h5> - {{email}}</p>
        </td>
        <td style="width:60%">
            <p style="margin-top:20px;"><h4 style="color:purple;"><strike>Rs. 11,999/-</strike> Rs. 2,999/- (75% Off)
        </h4>{{launchOffer}}</p>
        </td>
    </tr>
</table>


<br>
<h5 align="left" style="color:purple;">Objectives</h5>

<p>At the end of HTML5,CSS3 & JavaScript training course, the participant will be able to:</p>
<ul>
    <li>Develop dynamic and interactive web-pages</li>
    <li>Modify and Manipulate content and client side</li>
    <li>Apply animations,events to the web-pages</li>
</ul>

<p style="margin-top:20px;"><h5 align="left" style="color:purple;">Target
    Audience</h5> - Undergraduates, Graduates, Post-Graduates & Job aspirants</p>
<p><h5 align="left" style="color:purple;">Duration</h5> - 30 Hours</p>
<h5 align="left" style="color:purple;">Prerequisites </h5>
<p><b>Good to Have</b></p>
<ul>
    <li>Creativity in Designing Web Pages</li>
</ul>

<h5 align="left" style="color:purple;">Course Contents</h5>



<table border="0" class="cd_syllabus" cellspacing="0">
    <tr>
        <td colspan="2">
            <b>1. HTML 5</b>
            <ul>
                <li>Introduction to HTML5</li>
                <li>Forms API</li>
                <li>Fundamentals</li>
                <li>Form inputs</li>
                <li>Organizing forms</li>
                <li>Form scenarios</li>
                <li>Form server processing</li>
                <li>Canvas API </li>
                <li>Introduction</li>
                <li>Media API</li>
                <li>Offline Applications API</li>
                <li>Geolocation API</li>
                <li>Web Storage API</li>
                <li>Web Workers API</li>
                <li>Web Sockets API</li>
                <li>Microdata API</li>
                <li>Hybrid Mobile Applications</li>
                <li>Responsive Web Design</li>
                <li>Building the native shell</li>
                <li>Designing mobile friendly content</li>
                <li>Dealing with touch</li>
                <li>Dealing with Offline</li>
            </ul>
        </td>
    </tr>

    <tr>
        <td><b>1. Introduction to CSS3</b>
            <ul>
                <li>What's New in CSS3?</li>
                <li>Benefits of Using CSS3</li>
                <li>Browser Support</li>
                <li>Vendor Prefixes</li>
            </ul></td>
        <td><b>2. CSS3 Selectors and Pseudo-Classes</b>
            <ul>
                <li>New Attribute Selectors
                    <ul>
                        <li>"Starts With" Selector</li>
                        <li>"Ends With" Selector</li>
                        <li>"Contains" Selector</li>
                    </ul>
                </li>
                <li>Selecting the nth Element</li>
                <li>Selecting the nth of a Type</li>
            </ul></td>
    </tr>
    <tr>
        <td colspan="2"><b>3. CSS3 Properties</b>
            <ul>
                <li>Using <span class="courier">@font-face</span> to Add Custom Fonts</li>
                <li>Changing the Opacity of Text and Images</li>
                <li>Creating Rounded Corners, Adding Shadows to Boxes, and Using Images as Borders</li>
                <li>Creating Multiple Columns for Laying Out Text</li>
                <li>Working with RGBA and HSL Color Models</li>
                <li>Creating Simple Animations Using <span class="courier">transitions</span>, <span class="courier">transform</span>, and <span class="courier">animation</span></li>
            </ul></td>
    </tr>

    <tr>
        <td>
            <b>1. Overview of Client-Side JavaScript </b>


            <ul>
                <li>Including JavaScript in a Page
                    <ul>
                        <li>Using the &lt;script&gt; Tag</li>
                        <li>Referencing an External Script File</li>
                        <li>Using an Event Handler</li>
                        <li>Using a URL</li>
                    </ul></li>
                <li>Evolution of the JavaScript Language</li>
                <li>Common Misconceptions About JavaScript</li>
            </ul>
        </td>
        <td>
            <b>2. JavaScript Fundamentals </b>


            <ul>
                <li>Adding Comments</li>
                <li>Debugging JavaScript Code</li>
                <li>Declaring Variables with and without var</li>
                <li>Local vs. Global Variables</li>
                <li>Using JavaScript Primitive Types
                    <ul>
                        <li>String, Number and Boolean</li>
                        <li>undefined</li>
                        <li>null</li>
                    </ul></li>
                <li>Performing Data Conversions</li>
                <li>Interacting with the User
                    <ul>
                        <li>alert</li>
                        <li>prompt</li>
                        <li>confirm</li>
                    </ul></li>
                <li>Using Strict Mode</li>
                <li>Working with JavaScript Operators
                    <ul>
                        <li>Arithmetic Operators</li>
                        <li>Assignment Operators</li>
                    </ul></li>
                <li>Using the Math and Date Objects</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <b>3. Controlling Flow </b>


            <ul>
                <li>Conditional Constructs
                    <ul>
                        <li>if else</li>
                        <li>switch</li>
                    </ul></li>
                <li>Looping Contructs
                    <ul>
                        <li>do while</li>
                        <li>while</li>
                        <li>for</li>
                        <li>for in</li>
                    </ul></li>
                <li>Branching Statements
                    <ul>
                        <li>break</li>
                        <li>continue</li>
                    </ul></li>
                <li>Equality and Identity Operators</li>
                <li>Logical and Comparison Operators</li>
            </ul>
        </td>

        <td>
            <b>4. Working with Strings, Numbers and Arrays </b>


            <ul>
                <li>Creating String Objects</li>
                <li>Using String Methods
                    <ul>
                        <li>Searching within a String</li>
                        <li>Returning a Substring</li>
                        <li>Converting Character Case</li>
                    </ul></li>
                <li>Creating Number Objects</li>
                <li>Formatting Numbers</li>
                <li>Creating Arrays
                    <ul>
                        <li>Using the Array Constructor</li>
                        <li>Using Literal Notation</li>
                    </ul></li>
                <li>Accessing Array Elements</li>
                <li>Common Array Methods</li>
                <li>Defining and Using Associative Arrays</li>
                <li>Predefined Object Arrays</li>
            </ul>
        </td>

    </tr>
    <tr>
        <td>
            <b>5. Implementing Functions</b>
            <ul>
                <li>Declaring    Functions</li>
                <li>Invoking   Functions </li>
                <li>Named and Anonymous   Functions </li>
                <li>Passing   Arguments </li>
                <li>Local vs. Global   Variables </li>
                <li>Returning Values from a Function</li>
                <li>The <span class="courier">this</span> Keyword</li>
                <li>Explaining Closures</li>
            </ul>
        </td>
        <td>
            <b>6. Browser Object Model</b>
            <ul>
                <li>Overview of the Browser Object   Model </li>
                <li>Using the <span class="courier">window</span> Object
                    <ul>
                        <li>Opening and Closing Windows</li>
                        <li>Using Timers</li>
                        <li>Passing Data Between Windows</li>
                    </ul>
                </li>
                <li>Using the <span class="courier">document</span> Object
                    <ul>
                        <li>Writing to the Webpage</li>
                        <li>Accessing Properties of the Document</li>
                    </ul>
                </li>
                <li><span class="courier">navigator</span> Object</li>
                <li><span class="courier">location</span> Object</li>
                <li><span class="courier">screen</span> Object</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><b>7. Introduction to the Document Object Model (DOM)</b>
            <ul>
                <li>Selecting DOM Elements
                    <ul>
                        <li><span class="courier">getElementById</span></li>
                        <li><span class="courier">getElementsByTagName</span></li>
                        <li><span class="courier">getElementsByName</span></li>
                        <li><span class="courier">getElementsByClassName</span></li>
                        <li><span class="courier">querySelector</span></li>
                        <li><span class="courier"></span><span class="courier">querySelector</span>All</li>
                    </ul>
                </li>
                <li>Modifying Page Content with the   DOM</li>
                <li>Manipulating CSS using   JavaScript</li>
            </ul></td>
        <td><b>8. Event Handling in JavaScript</b>
            <ul>
                <li>Overview of JavaScript Events
                    <ul>
                        <li>Identifying Differences Between  Browsers</li>
                        <li>The <span class="courier">event</span> Object</li>
                        <li>Event Capturing and Bubbling</li>
                    </ul>
                </li>
                <li>Adding Event Handlers
                    <ul>
                        <li>Traditional (Inline) Model</li>
                        <li>Registering Events in JavaScript</li>
                        <li><span class="courier">addEventListener</span></li>
                        <li><span class="courier">attachEvent</span></li>
                    </ul>
                </li>
                <li>Mouse and Keyboard Events</li>
                <li>Preventing Default Behavior</li>
                <li>Cancelling Events</li>
            </ul></td>
    </tr>
    <tr>
        <td><b>9. Working with Forms </b>
            <ul>
                <li>Accessing Forms from JavaScript</li>
                <li>Working with Form Elements </li>
                <li>Validating Form Fields
                    <ul>
                        <li>Checking Required Fields</li>
                        <li>Checking Length of Input</li>
                    </ul>
                </li>
                <li>Cancelling Form Submission</li>
            </ul></td>
        <td><b>10. Using Regular Expressions</b>
            <ul>
                <li>Overview of Regular Expressions</li>
                <li>Using Regular Expressions in JavaScript
                    <ul>
                        <li>Creating an <span class="courier">RegExp</span> Object</li>
                        <li>Using <span class="courier">i</span> and <span class="courier">g</span> Flags</li>
                    </ul>
                </li>
                <li>Validating Strings with Regular Expressions</li>
                <li>Using Backreferences</li>
            </ul></td>
    </tr>
    <tr>
        <td><b>11. Working with JavaScript Objects and JSON</b>
            <ul>
                <li>Understanding Objects</li>
                <li>Defining Custom Objects
                    <ul>
                        <li>Object Literal Notation</li>
                        <li>Defining Properties and Methods</li>
                        <li>Creating a Constructor</li>
                    </ul>
                </li>
                <li>Extending an Existing Object with <span class="courier">prototype</span></li>
                <li>Using the <span class="courier">in</span> and <span class="courier">instance of</span> Operators</li>
                <li>Overview of JSON</li>
                <li>Using <span class="courier">JSON.stringify</span> and <span class="courier">JSON.parse</span></li>
            </ul></td>
        <td><b>12. Using Ajax</b>
            <ul>
                <li>Overview of Ajax</li>
                <li>The <span class="courier">XMLHttpRequest</span> Object</li>
                <li>Configuring an Ajax Request</li>
                <li> Handling Errors on <span class="courier">readystatechange</span></li>
                <li>Using JSON with Ajax</li>
                <li>Creating a "Hint" Feature with Ajax</li>
            </ul></td>
    </tr>

</table>