

table.cd_syllabus_solid {
    float: left;
    width: 100%;
    /*border-left: 1px dashed;*/
    border: 1px solid;
}

table.cd_syllabus_solid td {
    vertical-align: text-top;
    width: 40%;
    padding-right: 10px;
    padding-left: 6px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid;
    border-right: 1px solid;
}
table.cd_syllabus {
    float: left;
    width: 100%;
    /*border-left: 1px dashed;*/
    border: 1px dashed;
}

table.cd_syllabus td {
    vertical-align: text-top;
    width: 40%;
    padding-right: 10px;
    padding-left: 6px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px dashed;
    border-right: 1px dashed;
}
h5,h6{
    display:inline;
}