
<h1>Change Password</h1>

<!-- <form action="/TKHTS/PasswordApp"> -->
<form>
<label>Email Id: </label> <input type="email" ng-model="email" placeholder="Enter you email id"  required="required" autofocus="autofocus"/>
<br/>
<label>Current Password : </label> <input type="password" ng-model="currentPassword" placeholder="Enter you email id"  required="required"/>
<br/>
<label>New Password : </label> <input type="password" ng-model="newPassword" placeholder="Enter you email id"  required="required"/>
<br/>
<label>Confirm Password : </label> <input type="password" ng-model="confirmPassword" placeholder="Enter you email id"  required="required"/>
<br/>
<span ng-model="errorMsg" style="color: red;"></span>
<br/>

<button class="btn btn-primary" ng-click="getPassword()">Get password on your email</button>
</form>