<!-- <style type="text/css">

section{
    width: 60%;
    
    margin: 10px auto;
    padding: 10px 10px 10px 5px;
    border-radius: 20px;
}
#label{
    text-align: center;
    
}
.error{
    color: red;
    margin-left: auto;
    margin-right: 5px;
    display: block;
}
</style> -->
<!--
<h3 class="red">{{errorMessage}}</h3>
-->
<h3 class="red">{{message}}</h3>
<section>
  <h2 id="label" style="color: #463265">Create an Account</h2><br>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="username" class="col-sm-3 control-label">Username</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="username" id="username" ng-model="RegistrationService.registrationDetails.username" placeholder="Username">
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-3 control-label">Email</label>
      <div class="col-sm-9">
        <input type="email" class="form-control" id="email" name="email" ng-model="RegistrationService.registrationDetails.email" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-3 control-label">Password</label>
      <div class="col-sm-9">
        <input type="password" class="form-control" name="password" id="password" ng-model="RegistrationService.registrationDetails.password" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword" class="col-sm-3 control-label">Confirm Password</label>
      <div class="col-sm-9">
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ng-model="RegistrationService.registrationDetails.confirmPassword" placeholder="Confirm Password">
      </div>
    </div>
    <div class="form-group">
      <label for="contact" class="col-sm-3 control-label">Contact No.</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="contact" name="contact" ng-model="RegistrationService.registrationDetails.contact" placeholder="Contact">
      </div>
    </div>

    <div class="form-group">
      <label for="gender" class="col-sm-3 control-label">Gender</label>
      <div class="col-sm-3">
        <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" name="gender" id="gender" value="M" ng-model="RegistrationService.registrationDetails.gender" >
      </span>
          <input type="text" class="form-control" value="Male" disabled="disabled">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="input-group">
      <span class="input-group-addon">
        <input type="radio" name="gender" id="gender" value="F" ng-model="RegistrationService.registrationDetails.gender" >
      </span>
          <input type="text" class="form-control" value="Female" disabled="disabled">
        </div>
      </div>
      <div class="col-sm-3">
        <div id="genderMsg"></div>
      </div>
    </div>


    <div class="form-group">
      <label for="dob" class="col-sm-3 control-label">Date of Birth</label>
      <div class="col-sm-4">
        <input type="date" class="form-control" id="dob" name="dob" ng-model="RegistrationService.registrationDetails.dob" placeholder="Date of Birth">
      </div>
    </div>

    <div class="form-group">
      <label for="experience" class="col-sm-3 control-label">Experience</label>
      <div class="col-sm-9">
        <select class="selectpicker" name="experience" id="experience" ng-model="RegistrationService.registrationDetails.experience" >
          <option value="0">Student</option>
          <option value="2">Fresher (0 - 2 year)</option>
          <option value="5">Experienced (2 - 5 year)</option>
          <option value="10">Experienced (5 - 10 year)</option>
          <option value="11">Experienced (10 and above)</option>
        </select>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="reset" id="clearBtn" class="btn btn-primary">Clear</button>
        <button type="submit" id="submitBtn" class="btn btn-primary" ng-click="submitData()">Submit</button>
      </div>
    </div>
  </form>
</section>