<style type="text/css">
body{
	
}
section{
	width: 80%;
	margin: 10px auto;
	padding: 10px 10px 10px 5px;
	border-radius: 20px;
}
#label{
	text-align: center;
}
.purple{
	color: darkblue;
	text-align: center;
}
</style>



	
<!-- <h3 ng-show="!!successMessage" class="red">{{successMessage}}</h3>
<h3 ng-show="!!errorMessage" class="red">{{errorMessage}}</h3> -->
<section>
    <h3 class="purple">{{message}}</h3>

 <h2 id="label" style="color: #463265;">Feedback</h2><br>

<form class="form-horizontal" role="form">
	<div class="form-group">
    <label for="name" class="col-sm-3 control-label">Rate us</label>
    <div class="col-sm-9">
      {{feedbackService.feedbackDetails.rate}}
		<rating ng-model="feedbackService.feedbackDetails.rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" required></rating>
		<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-3 control-label">Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="name" id="name" ng-disabled="true" ng-model="feedbackService.feedbackDetails.name" placeholder="Name" required>
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-3 control-label">Email</label>
    <div class="col-sm-9">
      <input type="email" class="form-control" id="email" name="email" ng-disabled="true" ng-model="feedbackService.feedbackDetails.email" placeholder="Email" required>
    </div>
  </div>

  <!-- <div class="form-group">
    <label for="contact" class="col-sm-3 control-label">Contact no.</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="contact" name="contact" ng-disabled="true" ng-model="feedbackService.feedbackDetails.contact" placeholder="Contact" required>
    </div>
  </div> -->

  <div class="form-group">
  	<label for="feedback" class="col-sm-3 control-label">Feedback</label>
    <div class="col-sm-9">
    	<textarea class="form-control" rows="9" name="feedback" id="feedback" ng-model="feedbackService.feedbackDetails.feedback" placeholder="Type your message here . . ." required></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="reset" id="clearBtn" class="btn btn-primary">Clear</button>
      <button type="submit" id="submitBtn" class="btn btn-primary" ng-click="submitData()">Submit</button>
    </div>
  </div>
</form>
</section>