<style>
#home-link{
  padding-left: 10px;;
}
</style>
<br>
<!--<a href="user/index.html#/register"> <img src="{{commonPath}}images/training.jpg" width="300" height="100"/>--><!--</a>
<a href="user/index.html#/register"> <img src="{{commonPath}}images/win-apple-ipad-register-now.jpg" width="250" height="100"/></a>
<a href="test/index.html#/register"> <img src="{{commonPath}}images/testyourself.gif" width="400" height="100"/></a>-->

<table align="center" class="table">
    <div class="container">
        <tr>
            <td rowspan="2">
                <a href="user/index.html#/register"> <img src="{{commonPath}}images/win-apple-ipad-register-now.jpg" width="250" height="100"/></a>
            </td>
            <td class="col-md-9">
                <h3 style="color:purple;text-align: center; width: 100%">&nbsp;<blink>LAUNCHING CLASSROOM TRAINING !!</blink></h3>
            </td>
        </tr>
        <tr>
            <td class="col-md-9" style="border-top: 0px;padding-top: 0">
                <h5 style="color:purple;text-align: center;vertical-align: top; width: 100%;margin-top:0px;padding-top: 0px;margin-bottom:0px;padding-bottom: 0px">&nbsp;<a href="{{basePath}}courses/index.html#/java">For details click here</a></h5>
            </td>

        </tr>

    </div>
    </table>

<table align="center" class="table table-bordered">
  <div class="container">

      <!--<tr>
          <td class="col-md-3">
              <a href="user/index.html#/register"> <img src="{{commonPath}}images/win-apple-ipad-register-now.jpg" width="250" height="100"/></a>

          </td>

          <td class="col-md-3">
              <a href="test/index.html#/register"> <img src="{{commonPath}}images/testyourself.gif" width="400" height="100"/></a>
          </td>
      </tr>-->


<tr>
    <td style="height:40px;" colspan="2">
      <form class="form-horizontal">
        <div class="form-group">
          <!--<label class="col-sm-3 control-label"><h4>Search Tutorials</h4></label>-->
          <h4 class="form-signin-heading col-sm-3 control-label">Search All Tutorials :</h4>
          <div class="col-sm-8">
            <input type="text" data-ng-model="abc.$"  class="form-control" placeholder="e.g; Java, Spring, Hibernate">
          </div>
        </div>
        </form>
    </td>


</tr></div></table>
  <br /><br />
  <div class="container-fluid">
<div class="row">
    <div class=" col-md-3" data-example-id="panel-with-heading" data-ng-repeat="customer in customers|filter:abc">
      <div class="panel panel-default" >
        <div class="panel-heading">{{customer.title}}</div>
        <div class="panel-body">
          <div class="row" data-ng-repeat="technology in customer.technologies">
          <a id="home-link" ng-href="{{technology.url}}">{{technology.technology}}</a></div>
        </div>
      </div>

    </div>
  </div>

</div>
